<!-- {%load static%} -->

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
<head>
	<title>{% block title %}Estidama{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->	
    <!-- <link rel="stylesheet" href="{%static 'registaration/css/custom.css'%}"> -->
<!--===============================================================================================-->
<!--===============================================================================================-->
    <script src="https://cdn.tailwindcss.com"></script>
<!--===============================================================================================-->
</head>
<body class="min-h-screen bg-gray-200">
	
    <nav class="flex flex-row justify-between px-3 py-2 bg-green-600 font-bold text-white shadow-lg sticky">
        <nav class="flex flex-row">
                <a class="px-3 hover:text-gray-200" href="">Logo</a>
                <a class="px-3 hover:text-gray-200" href="">Home</a>
                <a class="px-3 hover:text-gray-200" href="">aaa</a>

        </nav>
        <nav>
            {% if user.is_authenticated %}
            <a class="px-3 hover:text-gray-200 hidden md:inline-flex" href="{%url 'dashboard'%}">{{user.first_name}}  {{user.last_name}}</a>
            <a class="px-3 hover:text-gray-200 border-2 border-white hover:border-gray-200 rounded-xl py-1" href="{%url 'logout'%}">Logout</a>
            {% else %}
                {% if '/login/' == request.path %}
                <a class="px-3 hover:text-gray-200 border-2 border-white hover:border-gray-200 rounded-xl py-1" href="{%url 'signup'%}">Sign Up</a>
                {% else %}
                <a class="px-3 hover:text-gray-200 border-2 border-white hover:border-gray-200 rounded-xl py-1" href="{% url 'login' %}">Login</a>
                {% endif %}
            {% endif %}

            <a class="px-3 hover:text-gray-200 border-2 border-white hover:border-gray-200 rounded-xl py-1" href="{% url 'login' %}">{{request.path}}</a> 
        </nav>
    </nav>
    <!-- <main class="bg-gradient-to-tr from-emerald-400 to-green-300 m-5 md:mx-28 lg:mx-48 p-2 md:p-4 lg:p-6 rounded-lg" style="height:85vh"> -->

    <main>
        
            <!-- main section -->
        <section class="bg-white m-3 md:mx-10 lg:mx-15 p-2 md:p-4 lg:p-6 rounded-lg" >
            <div class="bg-gray-500 text-white px-5 py-1 text-lg font-bold">
                {% block content1_header %}header{% endblock content1_header %}
            </div>
            <div class="px-5 py-1">
                {% block content1 %}content{% endblock content1%}
            </div>
        </section>

        <section class="bg-white m-3 md:mx-10 lg:mx-15 p-2 md:p-4 lg:p-6 rounded-lg" >
            <div class="bg-gray-500 text-white p-1 text-lg font-bold">
                {% block content2_header %}header{% endblock content2_header %}
            </div>
            <div class="p-1">
                {% block content2 %}content{% endblock content2%}
            </div>
        </section>

        <section class="bg-white m-3 md:mx-10 lg:mx-15 p-2 md:p-4 lg:p-6 rounded-lg" >
            <div class="bg-gray-500 text-white px-5 py-1 text-lg font-bold">
                {% block content3_header %}header{% endblock content3_header %}
            </div>
            <div class="px-5 py-1">
                {% block content3 %}content{% endblock content3%}
            </div>
        </section>
        
    </main>
	
	

<script>
    const show_hide_div = (event) =>{
        if(event.target.parentElement.children[event.target.parentElement.children.length-2].style.display == 'none'){
            event.target.parentElement.children[event.target.parentElement.children.length-2].style.display = 'grid'
        }
        else if(event.target.parentElement.children[event.target.parentElement.children.length-2].style.display == 'grid'){
            event.target.parentElement.children[event.target.parentElement.children.length-2].style.display = 'none'
        }
    }

    const hide_section = (event)=>{
        console.log(event.target.parentElement.children)

        event.target.parentElement.parentElement.style.display = 'none'
    }
    const show_section = (event) =>{
        event.target.parentElement.parentElement.children[event.target.parentElement.parentElement.children.length-1].style.display = 'block'
    }
</script>
</body>
</html>