{% extends "./base.html" %}
{% load  static %}


{% block title %}Reset password{% endblock %}

{% block content %}


{%if form.errors %}
<div class='w-11/12 bg-red-300 border-red-600 rounded-lg py-1 px-3 m-2 mx-auto'> {{ form.email.errors }}</div>
{%  endif %}
 

<form class="w-full mx-auto h-full py-10" method="post">
  {% csrf_token %}

  <img src="{% static 'registaration/images/img-02.png' %}" class="w-2/5 lg:w-1/5 mx-auto"/>
  <div class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 mt-3 text-gray-700 text-center">Reset password</div>
  <input class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 mt-3 bg-gray-100" type='email' placeholder='Email' name='email'>
  <input class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 m-3 bg-green-500 text-white border-2 border-white hover:border-gray-200" type="submit" value="Reset password" maxlength="8"> 
</form>


  

{% endblock %}