
{% extends "./base.html" %}
{% load  static %}


{% block title %}Login{% endblock %}

{% block content %}
{% if validlink %}

{% if form.errors %}
    {% for error in form.errors%}
    <div class='w-11/12 bg-red-300 border-red-200 text-white rounded-lg py-1 px-3 m-2 mx-auto text-bold'>{{error}}</div>
    {% endfor %}
{% endif %}
                

<form class="w-full mx-auto h-full py-10" method="post">
  {% csrf_token %}
    <div class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 mt-3 text-green-600 text-center  font-mono  text-4xl font-extrabold tracking-wide mb-10" >Please enter and confirm your new password.</div>
    {% comment %} <img src="{% static 'registaration/images/img-02.png' %}" class="w-2/5 lg:w-1/5 mx-auto"/> {% endcomment %}

    <input class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 mt-3 bg-gray-100" placeholder="New password" id="{{ form.id_new_password1.id_for_label }}" maxlength="30" name="new_password1" type="password" id="id_new_password1"/> 
    <div class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 text-red-500">{{ form.new_password1.errors }}</div>

    <input class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 mt-3 bg-gray-100" placeholder="Confirm new password" id="{{ form.id_new_password2.id_for_label }}" maxlength="30" name="new_password2" type="password" id="id_new_password2"/> 
    <div class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 text-red-500">{{ form.new_password2.errors }}</div>
                                                                        
    
    <input class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 m-3 bg-green-500 text-white border-2 border-white hover:border-gray-200" type="submit" class="btn btn-primary" value="Reset password" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

  
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}