{% extends "./base.html" %}


{% block title %}Reset password{% endblock %}

{% block content %}
  <div class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 text-red-500 text-center my-20 text-3xl font-extrabold">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</div>
  {% comment %} <a class="block w-4/5 md:w-3/5 lg:w-2/5 mx-auto px-3 py-1 m-3 bg-green-500 text-white border-2 border-white hover:border-gray-200 font-bold text-center" href="{% url 'login'%}">Click here to login again.</a> {% endcomment %}
{% endblock %}